#anime-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  p {
    text-align: justify;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 1rem;
  }
  
  .card:hover {
    transform: translateY(-4px);
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
  
  .card .content {
    padding: 1rem;
    text-align: center;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    line-height: 1.2;
  }
  